<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Author</title>
</head>
<body>
    <h1>Add New Author</h1>
    <form th:action="@{/author/add}" th:object="${author}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required><br>
        
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" th:field="*{surname}" required><br>
        
        <label for="genre">Genre:</label>
        <select id="genre" name="genre" th:field="*{genre}">
            <option value="Sci_fi">Sci_fi</option>
			<option value="Detectives">Detectives</option>
			<option value="Horror">Horror</option>
			<option value="Historical">Historical</option>
			<option value="Science">Science</option>
			<option value="other">Other</option>
        </select><br>
        <button type="submit">Add Author</button>
    </form>
    <a href="/author/show/all">Back to All Authors</a>
</body>
</html>
