<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <p>ID: <span th:text="${book.idb}"></span></p>
    <p>Title: <span th:text="${book.title}"></span></p>
    <p>Rating: <span th:text="${book.rating}"></span></p>
    <p>Condition: <span th:text="${book.condition}"></span></p>
    <p>Rarity: <span th:text="${book.rarity}"></span></p>
    <p>Quantity: <span th:text="${book.quantity}"></span></p>
    <p>Year: <span th:text="${book.yearb}"></span></p>
    <a href="/book/show/all/">Back to All Books</a>
</body>
</html>
