<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Library Department</title>
</head>
<body>
    <h1>Add New Library Department</h1>
    <form action="#" th:action="@{/libraryDepartment/add}" th:object="${libraryDepartment}" method="post">
        <label for="specialization">Specialization:</label>
        <input type="text" id="specialization" name="specialization" th:field="*{specialization}" required><br>
        <button type="submit">Add Library Department</button>
    </form>
    <a href="/libraryDepartment/show/all/">Back to All Library Departments</a>
</body>
</html>
