<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Library Departments</title>
</head>
<body>
    <h1>All Library Departments</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Specialization</th>
            <th>Actions</th>
        </tr>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.specialization}"></td>
            <td>
                <a th:href="@{/libraryDepartment/show/{id}(id=${department.id})}">View</a>
                <a th:href="@{/libraryDepartment/update/{id}(id=${department.id})}">Edit</a>
                <a th:href="@{/libraryDepartment/remove/{id}(id=${department.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/libraryDepartment/add">Add New Library Department</a>
</body>
</html>
